/*---------------------------------------------------
General
---------------------------------------------------*/

html {
  height: 100%;
}

body {
  font-family: Georgia, Times, serif;
	font-size: 1em;
	line-height: 1.4;
  color: #666;
  position: relative;
	height: 100%;
}

/*---------------------------------------------------
Typography
---------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
  font-family: 'DejaVu Sans', Helvetica, Arial, sans-serif;
}

pre {
	font-family: 'Droid mono', Courier, monospace;
	font-size: 12px;
	line-height: 1.4;
}


/*---------------------------------------------------
Content
---------------------------------------------------*/

pre {
	background: #f7f7f7;
	color: #222;
	margin: 5px 0 10px;
	padding: 5px;
}



